<!-- app/views/rent_agreements/new.html.erb -->
<div class="bg-white min-h-screen p-6">
  <h1 class="text-2xl font-bold mb-4">New Rent Agreement</h1>
  <%= render 'form', rent_agreement: @rent_agreement %>
</div>
